@import '../../theme/consts.scss';

.catalog-product {
  display: grid;
  grid-template-rows: auto 1fr;

  &:hover {
    box-shadow: 0rem 0rem 0.5rem $clr-secondary;
  }

  &__preview-image {
    height: 10rem;
  }

  &__controls {
    margin-top: auto;
  }
}
