.catalog-product {
  display: grid;
  grid-template-rows: auto 1fr;
  transition: 0.2s;

  &:hover {
    box-shadow: 4;
  }

  &__preview-image {
    height: 10rem;
  }

  &__controls {
    margin-top: auto;
  }
}
