.category-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 3rem;
  padding-block: 2rem;

  @media (max-width: 50rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 30rem) {
    grid-template-columns: 1fr;
  }
}
