@import '../assets/fonts/Gramophone/scss/Gramophone.scss';
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

$clr-primary: #673ab7;
$clr-primary-dark: #311b92;
$clr-secondary: #c6a7fd;
$clr-secondary-contrast: #c6a7fd;
$clr-text-primary: #453e53;

$ff-default: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$ff-heading: 'GramophoneNF', Verdana, sans-serif;
$ff-accent: 'Mr Dafoe', cursive;

$fs-400: 1rem;
$fs-800: 2.5rem;
