@import '../../sass/constants';

.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  margin-bottom: 1rem;

  & a {
    transition: all ease-in-out 0.3s;
  }

  & a:hover {
    text-shadow: 0.2rem 0.2rem 2rem $color-secondary;
  }
}

.logo-main {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.2rem $color-dark-prim;
  position: relative;
}

.logo-sub {
  font-family: 'Mr Dafoe', cursive;
  font-size: 1.3rem;
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem $color-dark-prim;
}

.search-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}