.person-form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.person-form_info {
  padding: 0 0 1rem;
}

.confirmation-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 42.5rem) {
  .person-form {
    flex-direction: column;
    gap: 0;
  }

  .person-form_controls {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .confirmation-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
