@import './assets/fonts/Gramophone/scss/Gramophone.scss';

html {
  font-size: 10px;
  font-family: "GramophoneNF", Verdana, sans-serif;
}

body {
  background-image: url(./assets/images/texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}