@import './theme/consts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: $ff-default;
}

body {
  min-height: 100vh;
  font-size: $fs-400;
  color: $clr-text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-heading;
}

#root {
  overflow: auto;
}

.form-box {
  width: clamp(22rem, calc(100% - 4rem), 40rem);
  margin: 5rem auto;
}

/* Utility classes */

.ff-accent {
  font-family: $ff-accent;
}
